API_URL=/api

APP_PATH=/usr/band-it

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=bandit
ALLOW_IP_RANGE: 0.0.0.0/0

RAILS_LOG_TO_STDOUT=true
RAILS_ENV=production
NODE_ENV=production

VIRTUAL_HOST=pronband.com
VIRTUAL_PORT=80