#advertising {

}

.advertising-card {
  border: 0;
  .card-title, .card-text {
    font-size: .85rem;
  }

  .card-img {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  .card-body {
    padding: .45rem;
  }

  .card-title {
    font-weight: 500;
    color: $black;
    margin-bottom: .45em;
  }

  .card-text {
    line-height: 18px;
    letter-spacing: 0.04em;
    color: $gray-600;
  }
}
