.advertising-card{
  .card-title{
    font-weight: 500;
    line-height: normal;
    font-size: 14px;
    color: #000000;
    padding-top: 1rem;
    padding-left: .4rem;
  }
  .card-text{
    line-height: 18px;
    font-size: 14px;
    letter-spacing: 0.04em;
    color: rgba(0, 0, 0, 0.5);
    padding: 0 .4rem .4rem .4rem;
  }
}
