option {
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}

Input {
  box-sizing: border-box;
}

select {
  box-sizing: border-box;
}

.filter-form-info{
  .card{
    .card-body{
      padding: 0.75rem 1.25rem;
    }
    &:not(:last-child){
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
  }
  &:not(:first-child){
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
}


.advertising-card{
  border: 0;
}

.advertising-card-text{
  font-style: normal;
  font-weight: normal;
  line-height: 13px;
  font-size: 10px;
  letter-spacing: 0.04em;

  color: rgba(0, 0, 0, 0.5);
}
